// sample variable

$white: #ffffff !default;
$primary: #2D2019 !default;
$grey: #F7F5F0 !default;
$grey-2: #edebe8 !default;
$red-1: #ED031A !default;
$red-2: #AD020D !default;
$maroon: #8C2726 !default;
$dark-maroon: #563B2F !default;
$goldenrod: #FFCE00 !default;
$seagreen: #387A80 !default;
$transparent: transparent !default;
