// sample variable

$white: #ffffff !default;
$default: #272727 !default;
$danger: #db2625 !default;
$alto: #cbd5e1 !default;
$gray: #99979c !default;
$purple: #5e72e4 !default;
$blue: #1978dc !default;
