* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  @include fontSize(18px);
  line-height: 28px;
  font-family: 'Bitter', serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

section {
  min-height: 480px;
}

.w-100 { width: 100%; }
