.donate {
  .donate-wrapper {
    min-height: 480px;
    background-color: $seagreen;
    border-bottom: 8px solid $goldenrod;
    padding: 80px;
    color: $white;

    p {
      margin-bottom: 30px;
    }
  }

  .container {
    .box {
      width: 480px;
      height: 480px;
      position: absolute;
      top: 0;

      &.img {
        left: 100%;
      }

      &.with-shape {
        background-color: $maroon;
        right: 100%;
      }
    }
  }
}
