footer {
  border-top: 1px solid $alto;
  padding: 20px 20px 0;
  margin: 30px -20px 0;
  display: flex;
  justify-content: space-between;

  .user-info {
    color: $gray;

    span {
      color: $default;
    }

    a {
      color: $gray;

      &:hover {
        color: $blue;
      }
    }
  }

  .brand {
    a { 
      color: $gray;

      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}
